{% extends 'temp/index.html' %}
{% block base %}

<center> <h3>LOGIN</h3>
<form method="POST" >
 {% csrf_token %}
<font color="black">
	<table align="center">
		<tr>
         <td><font color="white"> USERNAME  :</font></td>
         <td height="50"><input type="text" name="uname"  required="" ></td>
</tr>
<tr>
	<td><font color="white">PASSWORD  :</font></td>
	<td height="50"><input type="PASSWORD" name="pass" required="">
	</td>
</tr>
<tr><font color="black">
    <td></td>
	<td><input type="submit"  name="sub" value="LOGIN">
	<input type="reset" name="reset" value="CANCEL"></td>
</tr>
     </table>
</font>
{% if msg %}
    <script>
        alert("{{ msg }}")
    </script>
{% endif %}
</form>

{% endblock %}