<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.button1 {background-color: #3ca92c;}
.button2 {background-color: #0f72ab;}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 30em;
  margin-right: 30em;
  border-style: inset;
  border-width: 1px;
} 

</style>
</head>
<body>
<center><br><br><br><br><br><br><br>
<img src="/static/img/fpay logowc.png" align="center" width="285" height="180"><br><br>
<hr><br>

<a href="/user/user_log"><button class="button button1">Login</button></a>
<a href="/user/user_reg"><button class="button button2">Create new account</button></a>
</center>
</body>
</html>
